.modal {
    color: green;
}

.ModalBox {
    display: flex;
    flex-direction: column;
    background-color: #fdfffc;
    justify-content: right;
    gap: 0.4rem;
    max-width: 80%;
    min-width: 60%;
    max-height: 80%;
    min-height: 80%;
    padding: 1.3rem;
    overflow-y: auto;
    position: absolute;
    top: 10%;
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.39);
    z-index: 4;
    border: 1px solid #ddd
}

.modalContent {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 0.4rem;
    width: 100%;
    height: 80%;
    margin-top: 1rem;
    padding: 64px 0 0 0;
}

.blur {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 3;
}